<?xml version="1.0"?>
<!-- All folders are created relative to the baseDirectoryPath -->
<root baseDirectoryPath="/mnt/sda_part1/root/media/Youtube">
    <user name="PBSNewsHour" maxQuality="18">
        <!-- Make a folder named "Shields and Brooks" and download all videos
                with the title matching the regex pattern (Shields|Brooks) -->
        <folder name="Shields and Brooks" pattern="(Shields|Brooks|India)" daysToKeep="30" />
    </user>

    <user name="cnettv" maxQuality="18">
        <folder name="CNET/The404" pattern="^The.404" daysToKeep="15" />
        <folder name="CNET/Crave" pattern="^Crave" daysToKeep="15" />
        <folder name="CNET/AlwaysOn" pattern="^Always.On.*Ep" daysToKeep="15" />
        <folder name="CNET/OnCars" pattern="^CNET.On.Cars.*Ep" daysToKeep="15" />
    </user>

    <user name="techcrunch" maxQuality="18">
        <folder name="TechCrunch" pattern=".*" daysToKeep="20" />
    </user>

    <user name="TheVerge" maxQuality="18">
        <folder name="TheVerge" pattern=".*" daysToKeep="15" />
    </user>
    
    <user name="MarakanaTechTV" maxQuality="18">
        <folder name="MarakanaTechTV" pattern=".*" daysToKeep="30" />
    </user>

    <user name="androiddevelopers" maxQuality="18">
        <folder name="android/OfficeHours" pattern="Office.Hours.*EMEA" daysToKeep="60" />
        <folder name="android/AppClinic" pattern="The.App.Clinic" daysToKeep="60" />
        <folder name="android/DesignInAction" pattern="Android.Design.in.Action" daysToKeep="60" />
    </user>
    
    <user name="TEDtalksDirector" maxQuality="18">
        <folder name="TEDtalksDirector" pattern=".*" daysToKeep="60" />
    </user>
    
    <user name="bigthink" maxQuality="18">
        <folder name="bigthink" pattern=".*" daysToKeep="60" />
    </user>
    
    <user name="revision3" maxQuality="18">
        <folder name="revision3" pattern=".*" daysToKeep="30" />
    </user>
    
    <user name="diggnation" maxQuality="18">
        <folder name="diggnation" pattern=".*" daysToKeep="30" />
    </user>
            
</root>
